body {
  margin: 0;

  background: $brand-grey;
  color: $brand-light-grey;

  font-family: 'Marvel', sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}
