body {
  margin: 0;

  // background: $brand-grey; bland theme
  // background: #242329; darker theme

  background: #080300;
  background-image: (linear-gradient(-45deg, transparent 46%, #666 49%, #080300 51%, transparent 55%));
  background-size: 0.4rem 0.4rem !important;

  color: $brand-light-grey;

  font-family: 'Marvel', sans-serif;
}

section {
  display: flex;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
}

li {
  display: flex;
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
}

a {
  text-decoration: none;
}
