.footer-container {
  margin: auto;

  background: $brand-black;
}

.footer {
  display: flex;
  justify-content: flex-end;

  max-width: $max-content-width;
  margin: auto;

  color: $brand-red;

  &__copyright {
    margin: 0 $gutter;
    padding: $gutter 0;

    color: $brand-red;
    font-size: 1.2rem;

    &:hover {
      color: $brand-tan;
      cursor: pointer;
    }
  }
}
