.outer-container {
  display: flex;
  flex-direction: row;
  max-width: $max-content-width;

  margin: $gutter * 4 auto;
}

.column {
  display: flex;
  flex-basis: $max-content-width;
  flex-direction: column;

  margin: 0;

  &__primary {
    max-width: ($max-content-width / 3);

    margin: $gutter $gutter * 2.5 0 0;
  }

  &__secondary {
    min-width: (100% / 3) * 2;
  }
}
