.nav {
  max-width: $max-width;

  background: $brand-black;
  // background: #0d0d0f; darker theme

  &__logo {
    max-width: $max-content-width;

    margin: auto;
    padding: $gutter * 3 0;

    color: $brand-red;
  }
}
