.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: $max-width;

  background: $brand-black;
  // background: #0d0d0f; darker theme

  &__logo {
    max-width: $max-content-width;

    margin: 0;
    padding: $gutter * 3 0;

    color: $brand-red;
    font-size: 225%;
  }
}
