$max-content-width: 70rem;

$gutter: 0.4rem;

$brand-tan: #b19f72;
$brand-black: #28282f;
$brand-grey: #4d4b4f;
$brand-light-grey: #8b8a8b;
$brand-red: #bb0107;

$brand-border: 0.2rem solid $brand-black;
