$max-width: 100%;
$max-content-width: 70rem;

$gutter: 0.4rem;

$brand-tan: #b19f72;
$brand-light-black: #28282f;
$brand-black: #000;
$brand-grey: #4d4b4f;
$brand-light-grey: #8b8a8b;
$brand-red: #bb0107;

$brand-border: 0.05rem solid $brand-light-grey;
$brand-border-transparent: 0.05rem solid transparent;
$brand-border-bottom: 0.2rem solid $brand-grey;
$brand-border-button-transparent: 0.09rem solid transparent;
$brand-border-button-hover: 0.09rem solid $brand-light-grey;
